backend/**/bin/
backend/**/obj/
*.user
*.suo
*.svclog

frontend/node_modules/
frontend/.vite/
frontend/dist/
frontend/.next/
frontend/build/

*.env
*.env.*
!*.env.example
!*.env.*.example

.vscode/
.idea/
.DS_Store

.vs/
*.user
*.userosscache
*.suo
*.suo.*
.vscode/

project.lock.json
project.fragment.lock.json
artifacts/